.subheading {
  display: flex;
}

.subheading h1 {
  color: var(--color-black);
  font-size: 48px;
  font-family: var(--font-base);
  font-weight: 900;
  line-height: 50px;
  letter-spacing: 2.88px;
}

.subheading img {
  position: relative;
  top: 15px;
  right: 150px;
  width: 150px;
  z-index: -1;
}
